<ul class="radioBtn__list">
    <li class="radioBtn__item">
        <label class="buttons__radio">
            <input type="radio" class="btn__radio" name="testimonial" value="page01">          
        </label>
    </li>
    <li class="radioBtn__item">
        <label class="buttons__radio">
            <input type="radio" class="btn__radio" name="testimonial" value="page02">          
        </label>
    </li>
    <li class="radioBtn__item">
        <label class="buttons__radio">
            <input type="radio" class="btn__radio" name="testimonial" value="page03" checked>          
        </label>
    </li>
    <li class="radioBtn__item">
        <label class="buttons__radio">
            <input type="radio" class="btn__radio" name="testimonial" value="page04">          
        </label>
    </li>
</ul>
