/**
* Adjustment settings
**/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    min-height: 100vh;
}

body {    
    font-family: 'PFEncoreSansPro', sans-serif;
}

.main{
    width: 1260px;
    height: 765px;
    margin: 0 auto;
    position: relative;
}

.main::before, .main::after{
    content: '';
    width: 1260px;
    height: 765px; 
    position:absolute;      
    left: 0;
    top: 0;    
}

.main::before{               
    background: url('../img/bg.png');    
    background-size: cover; 
    z-index: -10;    
}

.main::after{  
    background-color:  rgba(24, 24, 24, 0.7);
    z-index: -5;
}

.title{
    color:  #ffffff;
    font-size: 51px;
    font-weight: 700;
    line-height: 36px; 
    text-transform: uppercase;
}

.button--reset{
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;    
}

.button-transp{
    display: flex; 
    width: 205px;
    height: 56px;
    border: 2px solid #fc635e;
    color:  #fc635e;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;    
    align-items: center;
    justify-content: center;
    text-decoration: none;   
}

.button-red{
    display: flex; 
    width: 167px;
    height: 44px;    
    color:  #f2f2f2;
    background: #fc635e;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;    
    align-items: center;
    justify-content: center;  
    margin: 0;  
}   

.slider-red--wrap{    
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
}

.slider-red{
    display: block;
    width: 28px;
    height: 28px;   
    background: url('../img/slider.png') center center no-repeat; 
}

.slider-white--wrap{    
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.slider-white{
    display: block;
    width: 28px;
    height: 28px;   
    background: url('../img/slider_white.png') center center no-repeat; 
}

.topic{       
    color:  #868686;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 11px;
    border-bottom: 1px solid #adadad; 
}
    
.topic--red{
    color:  #fc635e;
}
    

/**
* /Adjustment settings
**/


/**
* Main section
**/

.main__wrap{
    width: 941px;
    height: 100%;
    display: flex;
    flex-flow: column wrap;    
    align-items: center; 
    margin: 0 auto;       
}

/* main header */
.main__header{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 22px;
    justify-content: space-between;
    align-items: center;
}

.main__logo--wrap{
    display: flex;
    width: 139px;
    height: 68px;
    justify-content: space-between;    
    align-items: center;
}

.main__logo{
    display: flex;         
    vertical-align: center;
    text-decoration: none;
}

.main__name{
    display: flex;    
    color:  #fff;
    font-size: 24.08px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

/* main nav */
.main__nav{
    width: 422px;
    justify-content: flex-end;
}

.main__list{
    display: flex;
    justify-content: space-between;
    list-style: none;    
}

.main__link{
    display: inline-block;    
    text-decoration: none;
    text-transform: uppercase;
    color:  #fff;
    font-size: 16px;
    font-weight: 100;
    line-height: 28px;  
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;  
    transition: color .2s ease-in-out;  
    transition: border-bottom .2s ease-in-out;   
      
}

.main__link:hover, .main__link--red {    
    border-bottom: 4px solid #fc635e;
    color:  #fc635e;
}

/* main title */


.main__title{          
    margin-top: 192px;     
    position: relative;    
}

.main__title::before, .main__title::after{
    content: '';
    position: absolute;
    width: 104px;
    height: 8px;    
    background:  rgba(255, 255, 255, 0.2);    
    top: 50%;  
    
}

.main__title::before{    
    left: 0;       
    transform: translate(-112px, -50%);
}

.main__title::after{    
    right: 0;      
    transform: translate(112px, -50%);
}

.main__title--red{
    color:  #fc635e;
}    

.main__text{    
    color:  #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 27px;
    margin-bottom: 48px;
    /* text-align: center; */
}

.button-mouse{
    position: relative;
}

.decor--wrap{
    position: absolute;
    top: 0;
    right: -56px;
    transform: translateY(13px);
}

.decor--wrap::after{
    content: '.';    
    width: 73px;
    height: 317px;      
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-left: none;
    border-bottom: none;
    position: absolute;
    border-top-right-radius:30px 30px;
    top: 16px;
    right: -74px;
}

/**
* /Main section
**/

/**
* Receive section
**/

.receive{
    width: 1260px;    
    margin: 0 auto;
    position: relative;
    padding-top: 67px;
    padding-bottom: 94px;
}

.receive__wrap{
    width: 940px;    
    display: flex;
    flex-flow: column wrap;    
    align-items: center; 
    margin: 0 auto;      
}

.text{
    width: 530px;      
    color:  #adadad;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    text-align: center; 
    margin-top: 19px;   
}

.receive__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none; 
    margin-top: 81px;
}

.receive__item{
    display: flex;
    width: 202px;
    height: 236px;
    flex-direction: column;
    justify-content: center;
}

.receive__item--wrap{    
}

.receive__logo{
    display: block;
    width: 102px;
    height: 116px;
    margin: 0 auto;
    background: url('../img/outer_lightred.png') center center no-repeat;
    position: relative;
    margin-bottom: 21px; 
    transition: background .2s ease-in-out;   
}

.receive__logo:hover{    
    background: url('../img/outer_red.png') center center no-repeat;    
}

.logo--ba::before, .logo--ba::after{
    content: '';    
    position: absolute;
    width: 102px;
    height: 116px;
    top: 0;
    left: 0;
    transition: background .2s ease-in-out;
}

.logo--ba::before{
    background: url('../img/inner_red.png') center center no-repeat;
}

.logo--ba:hover::before{    
    background: url('../img/inner_white.png') center center no-repeat;
}

/* logo icons hover */

.logo--clients::after{    
    background: url('../img/clients_white.png') center center no-repeat;    
}

.logo--clients:hover::after{    
    background: url('../img/clients_red.png') center center no-repeat;    
}

.logo--branding::after{    
    background: url('../img/branding_white.png') center center no-repeat;    
}

.logo--branding:hover::after{    
    background: url('../img/branding_red.png') center center no-repeat;    
}

.logo--market::after{    
    background: url('../img/market_white.png') center center no-repeat;    
}

.logo--market:hover::after{    
    background: url('../img/market_red.png') center center no-repeat;    
}

.logo--adv::after{    
    background: url('../img/adv_white.png') center center no-repeat;    
}

.logo--adv:hover::after{    
    background: url('../img/adv_red.png') center center no-repeat;    
}
/* /logo icons hover */

.receive__topic{
    color:  #868686;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 22px;
}

.receive__topic::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background:  #adadad;
    top: 0;
    left: 50%;
    transform: translate(-30px, 27px);    
}

.receive__text{
    color:  #adadad;
    font-size: 13.5px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
} 

/**
* /Receive section
**/

/**
* Business section
**/

.business{
    width: 1260px;
    height: 576px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.business::before, .business::after{
    content: '';
    width: 1260px;
    height: 576px; 
    position:absolute;      
    left: 0;
    top: 0;    
}

.business::before{               
    background: url('../img/bg_city.png');    
    background-size: cover; 
    z-index: -10;    
}

.business::after{  
    background-color: rgba(19, 19, 19, 0.7);
    z-index: -5;
}

.business--wrap{
    width: 940px;
    height: 384px;
    display: flex;
    flex-flow: column wrap;    
    align-items: center; 
    margin: 0 auto;    
    border: 8px solid rgba(255, 255, 255, 0.1);
}

.title-business{          
    margin-top: 125px;  
    margin-bottom: 51px;     
}

/**
* /Business section
**/

/**
* Process section
**/

.process{  
    position: relative;    
    padding-bottom: 85px;
}

.img--process{
    margin-top: 57px;
}


/**
* /Process section
**/

/**
Wedo section
**/
.wedo{
    width: 1260px;    
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
    padding-bottom: 94px;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container{
    width: 940px;
    display: flex;
    flex-flow: row wrap;   
    justify-content: space-between; 
    margin-top: 67px;    
}

.text--wrap{
    width: 392px;    
}

.container__title{
    height: 39px;
    color:  #868686;
    font-size: 28px;
    font-weight: 500;
    line-height: 39px;    
    text-transform: uppercase;    
    border-left: 10px solid #fc635e;
    padding-left: 12px;
    margin-bottom: 20px;
}

.container__text{
    color:  #9e9999;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 39px;
}

.container__form{
    display: flex;
    margin: 0;
    justify-content: flex-start;
}
/**
 /Wedo section
**/

/**
Advertising section
**/
.advert{
    width: 1260px;    
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
    padding-bottom: 94px;
    /* background: #f2f2f2; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.text--right{
    text-align: left;
}

.container__title--right{
    height: 39px;
    color:  #868686;
    font-size: 28px;
    font-weight: 500;
    line-height: 39px;
    text-align: right;
    text-transform: uppercase;    
    border-right: 10px solid #fc635e;
    padding-right: 12px;
    margin-bottom: 20px;
}

.container__text--right{
    color:  #9e9999;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-align: right;
    margin-bottom: 39px;
}

.container__form--right{
    display: flex;
    margin: 0;
    justify-content: flex-end;
}

/**
/Advertising section
**/

/**
* Portfolio section
**/

.portfolio{  
    position: relative;    
    padding-bottom: 67px;
}

.nav--wrap{
    width: 100%;  
    height: 59px;
    margin-top: 39px;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    padding: 0 15px 0 15px;

}

.nav__list{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;   
    color:  #606060; 
}

.nav__link{
    text-decoration: none;
    color:  #fc635e;
}

.sets__list{
    display: flex;
    width: 940px;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;  
    margin-top: 46px;     
}

.sets__item{
    margin-bottom: 12px;    
    cursor: pointer;
    text-align: center;    
}

.sets__img--464{
    height: 200px;
    width: 464px;
}

.sets__img--464:hover{
    background: rgba(252, 99, 94, 0.78);
    z-index: 99;
}

.sets__img--226{
    height: 200px;
    width: 226px;
}

.button-portfolio{
    display: flex; 
    width: 192px;
    height: 51px;    
    color:  #fff;
    background: #fc635e;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;    
    align-items: center;
    justify-content: center;  
    margin: 0; 
    margin-top: 47px;
} 
/**
* /Portfolio section
**/

/**
* OurTeam section
**/

.container--ourteam{
    width: 820px;
    display: flex;
    flex-flow: row wrap;   
    justify-content: space-between; 
    margin-top: 67px;    
}

.topic--ourteam{       
    color:  #565656;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 11px;
    border-bottom: 1px solid #757575;
} 

.team__wrap{
    width: 33%;
}

.team__img{
    display: block;
    width: 147px;
    height: 171px;
    margin: 0 auto;
}

.team__name{
    color:  #565656;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin-top: 23px;
}

.team__position{
    color:  #565656;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    margin-top: 19px;
}

.social__list{
    list-style: none;
    display: flex;
    width: 147px;
    justify-content: space-between;    
    margin: 0 auto;  
    margin-top: 12px;
}

.social__link{
    display: block;
    width: 37px;
    height: 37px;    
}

.social__link--tw{
    background: url('../img/social_tw.png') center center no-repeat;    
}

.social__link--tw:hover{
    background: url('../img/social_tw-red.png') center center no-repeat;    
}

.social__link--fb{
    background: url('../img/social_fb.png') center center no-repeat;    
}

.social__link--fb:hover{
    background: url('../img/social_fb-red.png') center center no-repeat;    
}

.social__link--in{
    background: url('../img/social_in.png') center center no-repeat;    
}

.social__link--in:hover{
    background: url('../img/social_in-red.png') center center no-repeat;    
}

/**
* /OurTeam section
**/

/**
* CEO section
**/

.ceo{
    width: 1260px;    
    margin: 0 auto;
    position: relative;
    padding-top: 52px;
    padding-bottom: 160px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.ceo__logo{
    width: 74px;
    height: 86px;
}

.ceo__wrap{
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 74px;
    align-items: center;
}

.ceo__text{
    width: 320px;
    color:  #767676;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: right;
}

.ceo__photo{
    width: 161px;
    height: 185px;
}

.ceo__name--wrap{
    display: flex;
    flex-wrap: wrap;    
    width: 319px;
    height: 84px;
    justify-content: flex-start;
    align-content: space-around;
}

.ceo__name{
    color:  #818181;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
}

.ceo__position{
    color:  #818181;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    text-align: left;    
}

.ceo__button--wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88px;
    height: 31px;
    margin-top: 52px;    
}

.ceo__button--left, .ceo__button--right{
    display: block;
    width: 31px;
    height: 31px;    
}

.ceo__button--left{
    background: url(../img/ceo_button-left.png);
}

.ceo__button--left:hover{
    background: url(../img/ceo_button-left-hover.png);
}

.ceo__button--right{
    background: url(../img/ceo_button-right.png);
}

.ceo__button--right:hover{
    background: url(../img/ceo_button-right-hover.png);
}

/**
* /CEO section
**/


/**
* Map section
**/

.map{
    width: 1260px;  
    height: 338px;  
    margin: 0 auto;
    position: relative;  
    display: flex;
    justify-content: center;
    background: url('../img/map.png');    
}

.map__address{
    width: 209px;
    height: 242px;
    position: relative;
    position: absolute;    
    top: 0;
    transform: translateY(-50%);    
}

.address{           
    position: absolute;
    left: 50%;
    bottom: 85px;      
    width: 163px;    
    color:  #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    font-style: normal;
    transform: translateX(-50%);    
}

/**
* /Map section
**/



/**
* Footer section
**/

.footer{
    width: 1260px;
    height: 211px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.footer::before, .footer::after{
    content: '';
    width: 1260px;
    height: 211px; 
    position:absolute;      
    left: 0;
    top: 0;    
}

.footer::before{               
    background: url('../img/footer.png');    
    background-size: cover; 
    z-index: -10;    
}

.footer::after{  
    background-color:  rgba(35, 35, 35, 0.74);
    z-index: -5;
}

.footer__logo--wrap{
    display: flex;
    flex-direction: row;
    width: 185px;
    height: 90px;
    margin-top: 75px;
    align-items: center;
    justify-content: space-between;       
}

/**
* /Footer section
**/