.section__aboutShort {
    background: #f2f2f2;      
}

.container__aboutShort--wrap {    
    padding: 35px 0;
    justify-content: space-between; 

    @include large {
        width: 100%;
        padding: 50px 10px 50px 50px;     
    }   
  
    @include extra-small {
        width: 100%; 
        padding: 40px;     
    }
}

.aboutShort__text--wrap {    
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 500px / 1170px * 99%;

    @include extra-small {
        width: 100%;
        text-align: center;
    }
}

.aboutShort__img--wrap {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 670px / 1170px * 99%;   

    @include extra-small {
        display: none;
    }
}

