<section class="section section__aboutShort">
    <div class="container container__aboutShort--wrap">
        <div class="aboutShort__text--wrap">
            <h2 class="title">dip into the details</h2>
            <h3 class="title__name title__name--left">Super easy to customize</h3>
            <span class="title__text">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>
        </div>
        <div class="aboutShort__img--wrap">
            <img src="../../img/iPhone5.png" alt="iPhone5" class="text__img">
        </div>
    </div>
</section>