{% extends 'template.html' %}
{% set active = 'Home' %}

{% block title %}Form{% endblock %}

{% block header %}
<div class="header__wrap">
    <div class="button"><input type="text" class="button">dfsdffsd</div>
    <a href="" class="header__logo"><img src="img/main_logo.jpg" alt="" class="header__logo-img"></a>
    <div class="button"><input type="text" class="button"></div>
</div>
{% endblock %}

{% block maincontent %}


 
{% endblock %}

{% block footer %}
<div class="footer__wrap">
  <div class="footer__item"></div>
  <div class="footer__item"></div>
  <div class="footer__item"></div>
  <a href="" class="footer__logo"><img src="" alt="" class="footer__logo-img"></a>
</div>
{% endblock %}