* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;  
}

body {
  display: flex;
  flex-direction: column;
  font-size: $basic-font-size + px;  
  font-family: 'Source Sans Pro', sans-serif;  
  background: #fff;  
}

.section {
  width: 100%; 
  height: auto; 
}

.container {    
  display: flex;   
  width: 1170px;
  margin: 0 auto; 

  // @include large {
  //     width: 100%;
  //     padding: 50px 10px 50px 50px;     
  // }   

  // @include extra-small {
  //     width: 100%; 
  //     padding: 40px 40px;     
  // }
}


.text__img{      
  width: 100%;    
  height: auto;   
}

.title{
  color: $blue;
  text-transform: uppercase;
  @include rem(14);
  letter-spacing: .1rem;
  font-weight: 700;

  @include small {
    @include rem(10);
  }
}

.title__name{      
  @include rem(36);
  color: $black;
  letter-spacing: .05rem;
  font-weight: 700;
  margin-top: 20px;

  @include small {
      @include rem(20);
  }
}

.title__name--left {
  position: relative;
}

.title__name--center {
  position: relative;
}

.title__name--left::before{
  content: '';
  position: absolute;
  background: url(../../img/two-blue-lines.png);    
  width: 40px;
  height: 2px;
  bottom: -29px;
  left: 0;

  @include extra-small {
      left: 50%;
      transform: translateX(-50%);
  }
}

.title__name--center::before {
  content: '';
  position: absolute;
  background: url(../../img/two-blue-lines.png);    
  width: 40px;
  height: 2px;
  bottom: -29px;
  left: 50%;
  transform: translateX(-50%);
}

.title__text {
  margin-top: 58px;
  color: $grey;
  @include rem(18);
  line-height: 1.5rem;  
  
  @include small {
      @include rem(12);
  }
}







.ui-btn {
  display: block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 1px solid #e5ddd5;
  text-align: center;
  @include rem(18);
  
  padding: 14px;

  @include medium {
    padding-left: 28px;
    padding-right: 28px;
  }
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  color: #000;
  margin: 0;
  
  @include rem(30);

  @include large {
    @include rem(40);
  }
}