@import "libs.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{    
    background: #eceef4; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Proxima Nova', sans-serif; 
    /* font-family: sans-serif;    */
    font-size: 100%;  
}

/* HEADER */
.header__wrap{    
    width: 1140px; 
    height: 230px;
    display: flex;  
    justify-content: space-between;
    align-items: center;    
    margin: 0 auto;     
}

.header__logo{
    display: block;
    width: 100px;
    height: 100px;    
}

.button{
    display: flex;
    height: 52px;    
    border: 1px solid #ccd3e3;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    color: #a4aac4;
    padding: 0 35px;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}
/* /HEADER */


/* MAINCONTENT */

.maincontent{
    width: 1140px;    
    margin: 0 auto;    
    background: #fff;  
    flex: 1 0 auto;  
    margin-bottom: 120px;
    border: 1px solid #cdd4e3;
    border-radius: 3px;
}

/* maincontent header */
.maincontent__header{
    display: flex;
    width: 100%;
    height: 165px;
    border-bottom: 2px solid #dbdfeb;
}

/* order */
.order__wrap{
    width: 70%;
    display: flex;    
}

.order__container{
    flex: 1 0 auto;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 34px 35px 47px 73px;     
    font-size: 12px;  
}

.order__header{
    text-transform: uppercase;  
    font-weight: 600;  
    letter-spacing: 1px;
    color: #656e87;
    position: relative;
}

.order__header--before::before{
    content: '';
    display: block;
    width: 16px;
    height: 22px;
    position: absolute;
    background: url(../img/icon_order.png);
    top: 0;
    left: 0;   
    transform: translate(-42px,-7px);
}

.order__list{
    display: flex;
    justify-content: space-between;
}

.order__item{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.order__item--header{
    text-transform: uppercase;
    font-weight: 600;  
    letter-spacing: 1px;
    color: #656e87;    
}

.order__item--text{
    font-weight: 400;
    color: #9ea5bb; 
    margin-top: 12px;   
}
/* /order */
/* buttons wrap */
.buttons{
    width: 240px;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    justify-content: space-between;
    align-items: center;   
}

.btn--reset{    
    /* outline: none; */
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #cdd4e3;
    border-radius: 3px;    
}

.btn{
    width: 170px;
    height: 50px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #9ea5bb; 
    background: #f7f7fa;   
}

.btn:hover{
    color: #fff;
    background: #5fcac6;
    border: 1px solid #5db2af;
    transition: .2s ease-in-out;
}
/* buttons wrap */

/* maincontent help */
.help__container{
    width: 30%;
    border-left: 2px solid #dbdfeb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 27px 46px 27px 73px;     
    font-size: 12px;     
}

.help__header--before::before{
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    background: url(../img/icon_help.png);
    top: 0;
    left: 0;   
    transform: translate(-42px,-5px);
}

.help__text{
    font-weight: 400;
    color: #9ea5bb;
    line-height: 1.5em;    
}

.help__contacts--list{
    display: flex;
    flex-direction: row;
}

.help__contacts--item{
    list-style: none;    
}

.help__contacts--item:not(:first-child){
    margin-left: 18px;
}

.help__contacts--link{
    text-decoration: none;
    font-style: normal;
    color: #656e87;
    font-weight: 600;
    letter-spacing: .5px;
}
/* /maincontent help */
/* /maincontent header */

fieldset{
    border: none;     
}

legend{
    float: none;
}

.section{
    /* width: 900px; */
    margin-left: 130px;
    margin-right: 110px;
    /* display: flex; */
    /* flex-direction: column;     */
}

.translate{
    margin-top: 105px;    
    text-align: center;
}

.translate__title{     
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;  
    color: #656e87;
    letter-spacing: 4px;
    line-height: 48px;
    border-bottom: 1px solid #dbdfeb;
    padding: 0 6px;
}

.radio__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 68px;
}

.translate__radio--btn{
    /* display: none; */
    width: 278px;
    height: 202px;    
}

.translate__radio{
    display: block;
    width: 278px;
    height: 202px;       
    position: relative;
}

.radio__btn--wrap{
    display: flex;
    flex-direction: column;
    align-items: center;  
    /* justify-content: space-between;   */
    padding-top: 27px;
    width: 100%;
    height: 100%;  
    color: #9ea5bb; 
    background: #f7f7fa; 
    border: 1px solid #cdd4e3;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}

.translate__radio--checked{
    display: block;    
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(12px, -12px);
}

input[type="radio"]:checked + div{
    border: 4px solid #76a7e1; 
    padding-top: 24px;
    transition: .2s ease-in-out;   
}

input[class="radio"]:checked + div span[class="translate__radio--checked"]{
    display: none;
    border: 3px solid red;
    transition: .2s ease-in-out;     
} 

.radio__btn--img{
    width: 96px;
    height: 110px;
}

.radio__btn--text{
    display: inline-block;
    font-weight: 600;  
    color: #656e87;
    letter-spacing: 1px;
    margin-top: 15px;
}



/* /MAINCONTENT */

footer{
    width: 100%;
    height: 250px;
    background: #444a62;
}
