<section class="section section__lag">
    <div class="container container__lag--wrap">
        <div class="lag__header--wrap">
            <h3 class="title__name">Like what you see?</h3>
            <span class="lag__title">&nbsp; Get this great theme now!</span>
        </div>

        <!-- header buttons -->
        <div class="buttons__lag--wrap">
            <div class="buttons__lag">

                {% include 'common/buttons/buttons.html' %}

            </div>
        </div>
        <!-- /header buttons -->

    </div>
</section>