<section class="section section__footer">
    <div class="container container__footer--wrap">
        <!-- social -->
        <address class="social__container">
            <ul class="social__list">
                <li class="social__item">
                    <a href="#" class="social__link social__link-be">
                        <i class="fab fa-behance"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <i class="fab fa-dribbble"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </address>
        <!-- /social -->

        <span class="footer__title">copyright © 2014 lucid onepage theme</span>

    </div>
</section>