.logo__wrap {
  display: flex;
  width: 120px;
  height: 19px;
  text-transform: uppercase;
  align-items: center;
}

.logo__name--wrap {
  display: flex;
}

.logo__name {
  color: white;
  @include rem(24);
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-decoration: none;
}

.logo__text {
  display: flex;
  color: $grey;
  @include rem(9);
  margin-left: 4px;
}
