/**
* Adjustment settings
**/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'PT Sans', sans-serif;
}

.container {
  width: 940px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}

.column-50 {
  width: 50%;
}

.column-42 {
  width: 42%;
}

.column-58 {
  width: 58%;
}

.section-block-wrap {
  text-align: center;
  max-width: 740px;
  margin: 0 auto;
}

.main-title {
  font-weight: 700;
  margin: 0;  
  font-size: 32px;
}

.main-title-hero{
  color: #010101;
}

/**
* Hero
**/

.hero {
  width: 100%;
  height: 100vh;
  background: #fcdb00;
  position: relative;
}

.main-header {
  padding: 60px 0;
}

.container--header {
  align-items: center;
}

.column-50--header {
  display: flex;
  justify-content: flex-end;
}

.logo__link {
  display: flex;
  align-items: center;
  text-decoration: none;
} 

.logo__img {
  width: 43px;
  height: 43px;
  display: block;
}

.logo__title {
  margin-left: 10px;
  color:  #010101;
  font-weight: 700;
  font-size: 30px;
}

/**
* Nav
**/

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item:not(:first-child) {
  margin-left: 70px;
}

.nav__link {
  font-weight: 700;
  font-size: 22px;
  color: #010101;
  text-decoration: none;
}

.nav__link:hover {
  color: #fff;
}

.hero__sub-title {
  color: #313841;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  line-height: 24px;
  margin-top: 18px;
}

.hero__content-text {
  color: #545454;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-top: 20px;
  text-align: left;
}

.apps {
  margin-top: 65px;
}

.apps__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.apps__item:not(:first-child) {
  margin-left: 38px;
}

.apps__link {
  display: block;
  width: 40px;
  height: 40px;
}

.apps__link--apple {
  background: url('../img/icon-fa-apple.png') center center no-repeat;
}
.apps__link--andr {
  background: url('../img/icon-fa-android.png') center center no-repeat;
}
.apps__link--windows {
  background: url('../img/icon-fa-windows.png') center center no-repeat;
}

.column-58--tablet-wrap {
  display: flex;
  flex-direction: column;
}

.hero__tablet {
  margin: auto 0 107px 175px;
}

.container--hero {
  height: calc(100vh - 165px);
}

.slider{  
  display: block;
  width: 56px;
  height: 16px; 
  position: absolute;
  bottom: 49px; 
  left: 50%;
  transform: translateX(-50%);
  }

.slider__list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;  
}

.slider__item{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color:  rgba(255, 255, 255, 0.5); 
  cursor: pointer;
}

.slider__item:hover, .slider__item:first-child{
  background-color:  #ffffff;
}


/**
* Features
**/

.features {
  width: 100%;
  min-height: 100vh; 
  padding: 110px 0 155px 0; 
  position: relative;
}

.container--features {
  flex-direction: column;
}

.features__sub-title {
  color: #313841;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  line-height: 24px;
  margin-top: 15px;
}

.features__list {
  display: flex;
  list-style-type: none;
  margin: 0 -22px 0 -22px;
  padding: 0;
  flex-wrap: wrap;
}

.features__item {
  width: 274px;
  margin: 0 22px;
  margin-top: 87px;
  padding-left: 75px;
  position: relative;
  /* border: 1px solid black; */
}

.features__icon {
  /* font-size: 70px; */ 
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  height: 52px;
  align-items: flex-start;
  background-size: auto;
  display: flex;
}

.features__list-title{  
  color: #010101;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.content-text{
  color:  #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left; 
  margin-top: 15px;
}

/**
* Support
**/

.support {
  width: 100%;
  height: 767px;
  padding: 96px 0 141px 0;
  position: relative;
  background-color: #010101;  
}

.main-title-support{
  color:  #fcdb00;
}

.support__sub-title {
  color:  #898989;  
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  line-height: 24px;
  margin-top: 15px;
}

/* support form */

.support__form--wrap{
  margin-top: 41px; 
}

.support__form{
  width: 727px;  
  display: flex;  
  margin: 0 auto;
}

.support__textfield{
  width: 580px;
  padding: 14px 0 14px 24px; 
  color:  #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
  border: none;  
  border: 1px solid black;
  border-radius: 6px;
}

.ui-reset-btn {
  background: none;
  padding: 0;
  border: none;
  /* outline: none; */
  cursor: pointer;
}

.support__submit{
  border-radius: 6px;  
  background:  #fcdb00;
  width: 126px;  
  color:  #010101;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 21px;
  }

/* /support form */

/* support apps */
.support__apps {
  margin-top: 79px;
}

.apps__list--support{
  width: 240px;
  height: 36px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;  
  transform: translateX(-27px);
}

.apps__item--support:not(:first-child) {
  margin-left: 30px;
}

.apps__link--support {
  display: block;
  width: 36px;
  height: 36px;
}

.apps__link--fb{
  background: url('../img/facebook-ico.png') center center no-repeat;
}

.apps__link--tw{
  background: url('../img/twitter-ico.png') center center no-repeat;
}

.apps__link--goog{
  background: url('../img/google-ico.png') center center no-repeat;
}

.apps__link--pint{
  background: url('../img/pinterest-ico.png') center center no-repeat;
}




