<form action="#" method="GET" class="form">
    <div class="form__wrap">
        <div class="name__wrap">
            <input type="text" id="username" name="username" placeholder="NAME *" pattern="[A-Za-z\s]{3,}" maxlength="32" required class="form__input">
            <input type="email" id="email" name="email" placeholder="EMAIL *" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required
                class="form__input">
            <input type="text" id="subject" name="subject" placeholder="SUBJECT *" pattern="[A-Za-z0-9\s]{3,}" maxlength="32" required
                class="form__input">
        </div>

        <textarea placeholder="MESSAGE *" required class="form__text"></textarea>
    </div>
    <div class="form__btn">
        <button class="button download">send message</button>
    </div>
</form>