<section class="section section__aboutLong">
    <div class="container container__aboutLong--wrap">
        <div class="aboutLong__img--wrap">
            <img src="../../img/phones-header.png" alt="tho iPhones 5" class="text__img">
        </div>
        <div class="aboutLong__text--wrap">
            <h2 class="title">dip into the details</h2>
            <h3 class="title__name title__name--left">Beautiful on every device</h3>
            <span class="title__text">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</span>

            {% include 'component/aboutLong/list/list.html' %}
           
        </div>
    </div>
</section>