html {
  font-size: 0.9rem;
}

#cardList {
  display: none;
}

#ctrlPanel {
  display: none;
}

#newTaskForm {
  display: none;
}

.displayNone {
  display: none;
}

#totalTasks {
  font-size: 1.3rem;
  text-align: center;
}

.appName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}
