.section__pricing {
    background: #fff;       
}

.container__pricing--wrap {      
    padding-top: 65px;  
    flex-direction: column; 
    align-items: center;        
    
    @include large {
        width: 100%;
        padding: 50px;     
    }   
  
    @include extra-small {
        width: 100%; 
        padding: 40px;     
    }
}

.pricing__header--wrap {
    text-align: center;
}

.pricing__wrap {
    margin-top: 100px;
    width: 100%;

    @include extra-small {
       margin-top: 70px;
    }
}

