@font-face {
  font-family: 'PT Sans Bold';
  src: url('../fonts/ptsans/ptsansnarrowbold.woff') format('woff'),
       url('../fonts/ptsans/ptsansnarrowbold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Regular';
  src: url('../fonts/ptsans/ptsansnarrow.woff') format('woff'),
       url('../fonts/ptsans/ptsansnarrow.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}