<section class="section section__pricing">
        <div class="container container__pricing--wrap">
            <div class="pricing__header--wrap">
                <h2 class="title">quality has its price</h2>
                <h3 class="title__name title__name--center">Pricings & Plans</h3>        
            </div>
            <!-- pricings -->
            <div class="pricing__wrap"> 
                
                {% include 'component/pricings/pricing/pricing.html' %}        
    
            </div><!-- /pricings -->
    
            
        </div>
    </section>