<section class="section section__features">
        <div class="container container__features--wrap">
            <div class="features__header--wrap">
                <h2 class="title">product overview</h2>
                <h3 class="title__name title__name--center">List of amazing features</h3>        
            </div>
            <!-- features -->
            <div class="features__wrap"> 
                <ul class="feature__list">
                    <li class="feature__item">
                        <div class="feature__img">
                            <img src="/img/features_Monitor.png" alt="Monitor" class="feature__icon">
                        </div>
                        <h4 class="feature__name">Responsive</h4>
                        <p class="feature__text">Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
                    </li>
                    <li class="feature__item"></li>
                    <li class="feature__item"></li>
                    <li class="feature__item"></li>
                </ul>

    
               
    
            </div><!-- /features -->
    
            
        </div>
    </section>