<section class="section section__features">
        <div class="container container__features--wrap">
            <div class="features__header--wrap">
                <h2 class="title">product overview</h2>
                <h3 class="title__name title__name--center">List of amazing features</h3>        
            </div>
            <!-- features -->
            <div class="features__wrap"> 
                
                {% include 'component/features/feature/feature.html' %}        
    
            </div><!-- /features -->
    
            
        </div>
    </section>